rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 모든 사용자에게 읽기 및 쓰기 권한을 허용합니다.
      allow read, write: if true; 
    }
  }
}